@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
}

ul {
  position: relative;
  right: 20px;
}
.nav-li {
  left: 0px;
}

.moon-gradient {
  background-color: #cbdcef;
  background-image: linear-gradient(210deg, #cbdcef 0%, #7719da 100%);
}

.my-container {
  position: absolute;
  top: 3.8rem;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.logo {
  font-size: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-body > p {
  flex-grow: 1;
}

.card-img {
  flex: 1;
  max-height: 5rem;
  /* max-width: 15rem; */
  max-width: 8rem;
}

.icon {
  position: relative;
  right: 10px;
  font-size: 1.5rem;
  color: white;
  display: inline;
  padding-bottom: 10px;
}

.leave {
  color: black;
}

.full-screen {
  height: 100vh;
}

.see {
  border: 2px solid red;
}

.card-title {
  font-size: 16px;
}

/* *Search Bar */
.search {
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
}

.search input {
  height: 60px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
}

.search input:focus {
  box-shadow: none;
  border: 2px solid #7719da;
}

.search .fa-search {
  position: absolute;
  top: 20px;
  left: 16px;
}

.search button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 110px;
  background: #7719da;
}

.search button:hover {
  background: #7b00ff;
}

/* *CSS for radio buttons */
/* Custom Radio Button Start*/

.radiotextsty {
  color: #a5a4bf;
  font-size: 18px;
}

.customradio {
  display: inline;
  position: relative;
  padding-left: 30px;
  padding-right: 10px;
  margin-bottom: 0px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.customradio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #bebebe;
}

/* On mouse-over, add a grey background color */
.customradio:hover input ~ .checkmark {
  background-color: transparent;
}

/* When the radio button is checked, add a blue background */
.customradio input:checked ~ .checkmark {
  background-color: white;
  border: 1px solid #bebebe;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.customradio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.customradio .checkmark:after {
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #a3a0fb;
}

/* *media queries */
@media screen and (max-width: 575px) {
  .full-screen {
    height: auto;
  }

  .icon {
    font-size: 1.5rem;
  }
}
